name: Build Optimized Windows EXE

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: swatinem/rust-cache@v2
    
    - name: Update Rust
      run: rustup update stable
      
    - name: Build Release
      run: cargo build --release
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: irancell_bot_manual
        path: target/release/irancell_bot.exe
